In [1]:
import pandas as pd

In [2]:
s1 = pd.Series(['a', 'b'])

s2 = pd.Series(['c', 'd'])

In [4]:
pd.concat([s1,s2])

0    a
1    b
0    c
1    d
dtype: object

In [5]:
import numpy as np

In [6]:
demo_array = np.arange(10,21)

subset_demo_array = demo_array[0:7]

subset_demo_array[:]= 101

subset_demo_array

array([101, 101, 101, 101, 101, 101, 101])

In [14]:
data = {'prodID': ['101', '102', '103', '104', '104'],

                    'prodname': ['X', 'Y', 'Z', 'X', 'W'],

                     'profit': ['2738', '2727', '3497', '7347', '3743']}

dataframe = pd.DataFrame(data)

dataframe

grouped_data = dataframe.groupby('prodID')
grouped_data.describe()
# grouped_data.max()

       prodname                 profit
          count unique top freq  count unique   top freq
prodID
101           1      1   X    1      1      1  2738    1
102           1      1   Y    1      1      1  2727    1
103           1      1   Z    1      1      1  3497    1
104           2      2   W    1      2      2  7347    1

In [9]:
l=[1,2]
np.array[1]

TypeError: 'builtin_function_or_method' object is not subscriptable